UserResponse.json
{
  "name": "UserResponse",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        -16
      ],
      "id": "f017d4f9-9b94-401e-971a-73a872fa0e9c",
      "name": "Telegram Trigger",
      "webhookId": "7178cfa5-ca26-4497-88a6-f5e833fb53f5",
      "credentials": {
        "telegramApi": {
          "id": "OtLXVrNoTqyj9ML3",
          "name": "Telegram account QPulse"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text || $json.chatInput }}",
        "options": {
          "systemMessage": "You are Quick Pulse User Agent that will talk to the telegram or the chat user. You will share the question if available. Then you will accept the response and store it in a data table.\n\nYou have 3 tasks and you will exactly perform one of the 3 tasks or politely decline the user's request if it is outside the scope of QPulse\n\nTask 1: When a user pings you or greets you, respond back with \"Welcome to Quick Pulse. Do you wish to respond to the current question? \n\nTask 2: If the user wants to participate in the quick pulse, Use the data table tool \"Get_QPulse_Question\" and fetch the latest question and send it back to the user. You must always use this tool. Remember the question as you need that in task3.\n\nTask 3: If the user responds back with a answer to the question from task 2, capture the answer. You must use the tool \"Insert to QPulse_Answers\" and insert the answer to that table. Do not insert any other random responses.\n\nFor any other questions or request, politely decline the request. \n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        64
      ],
      "id": "a2360e63-29e5-4c39-8370-2f8f7d0d407c",
      "name": "User Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        256
      ],
      "id": "92806205-f5a8-4150-ad3b-d072f4517890",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cBxlROnOffPys8E1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id || $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        240
      ],
      "id": "bdfb331c-657f-45cb-aa3a-c6b2bf5db3f8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -560,
        224
      ],
      "id": "1f9ecfc9-43c3-40cb-b06a-c430653294c0",
      "name": "When chat message received",
      "webhookId": "225c7cda-5c88-432f-9c40-99c8cd2d1554"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Ow2pcpdLZmo9u2AK",
          "mode": "list",
          "cachedResultName": "QPulse_Questions",
          "cachedResultUrl": "/projects/bxnOhM4iBNlkuQXd/datatables/Ow2pcpdLZmo9u2AK"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "summaryDone",
              "condition": "isFalse"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `Get all rows and pick the top result`, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "d605e443-62e7-4419-b312-0bada060a785",
      "name": "Get_QPulse_Question"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "3eNhT2ia342PLt1v",
          "mode": "list",
          "cachedResultName": "QPulse_Answers",
          "cachedResultUrl": "/projects/bxnOhM4iBNlkuQXd/datatables/3eNhT2ia342PLt1v"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $json.update_id || $json.sessionId  }}",
            "answer": "={{ $json.message.text || $json.chatInput }}",
            "question": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question', `Enter the question for which the user responded`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        256,
        240
      ],
      "id": "cb20bd05-2fa1-47c4-b58d-4c93d79274bb",
      "name": "Insert to QPulse_Answers"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "606ad3ff-aaf0-47ad-8fa9-8d297c14af01",
      "name": "Send a text message",
      "webhookId": "b21d556d-ac18-4483-826d-5eb301fde099",
      "credentials": {
        "telegramApi": {
          "id": "OtLXVrNoTqyj9ML3",
          "name": "Telegram account QPulse"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "User Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "User Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "User Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Get_QPulse_Question": {
      "ai_tool": [
        [
          {
            "node": "User Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insert to QPulse_Answers": {
      "ai_tool": [
        [
          {
            "node": "User Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1060de57-5e20-446a-8b6d-3761ef58b237",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b94812f46074610a3dfa5df18e8b87bddfb44479dd5d2a2cf54d1b59a03e5815"
  },
  "id": "b8QpoaorA45ZzUio",
  "tags": []
}